.wrapper {
  position: relative;

  // Gradient side fade

  &:before,
  &:after {
    position: absolute;
    top: 0;
    z-index: 1;

    content: "";
    display: block;
    width: 20px;
    height: 100%;
  }

  &:before {
    left: 0;
    background: linear-gradient(90deg, #fafafa, transparent);
  }

  &:after {
    right: 0;
    background: linear-gradient(-90deg, #fafafa, transparent);
  }
}

.items {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;

  &.active {
    cursor: grab;
  }
}

.item {
  margin-left: 20px;
  user-select: none;

  &:last-child {
    margin-right: 20px;
  }
}
