@media screen and (max-width: 1000px) {
  .teamCard {
    margin-bottom: 150px;
    align-items: center !important;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 50px;
  cursor: grab;
}

.cardImage {
  max-width: 300px;
  max-height: 300px;
}

.cardDetails {
  margin-top: 16px;
  border: 0;
  border-left: 2px solid #353535;
}

.cardName {
  margin-left: 8px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #353535;
}

.cardRole {
  margin-left: 8px;
  font-family: Poppins;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: #353535;
}
